@font-face {
    font-family: 'BAAC17';
    src: url('../fonts/BAAC17Light.woff2') format('woff2'),
        url('../fonts/BAAC17Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BAAC17';
    src: url('../fonts/BAAC17ExtraBold.woff2') format('woff2'),
        url('../fonts/BAAC17ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BAAC17';
    src: url('../fonts/BAAC17Regular.woff2') format('woff2'),
        url('../fonts/BAAC17Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BAAC17';
    src: url('../fonts/BAAC17Bold.woff2') format('woff2'),
        url('../fonts/BAAC17Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}