footer {
    background-color: $primary;
    position: relative;
    padding: .5rem 0;

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $secondary;
        box-shadow: 0 0 4px black;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    @include media-breakpoint-up(lg) {
        padding: .75rem 0;

        img {
            height: 60px !important;
        }
    }
}