header {
    .header {
        &-logo {
            display: inline-block;
            padding: 1rem;
            box-shadow: $box-shadow;
            @include gradient-bg($white);

            @include media-breakpoint-down(sm) {
                img {
                    max-height: 50px;
                    object-fit: contain;
                }
            }
        }
    }

    &.header-small {
        .header-logo {
            width: 60px;
            padding: 0.5rem;
        }
    }
}