header {
    background-color: rgba($primary,.75);
    padding: .5rem 0;
    box-shadow: $box-shadow-sm;
    .header {
        &-logo {
            display: inline-block;
            &:hover{
                filter: drop-shadow(0 0 3px white);
            }
            img{
                max-height: 50px;
            }
        }
    }
}