section {
    padding: 4em 0;
}

section.one {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // @include gradient-bg($primary);
    background: url('../img/bg-top@2x.png') no-repeat center center/cover;
    background-attachment: fixed;
}

section.two {
    .embed-responsive {
        border-radius: .75rem;
        overflow: hidden;
        box-shadow: $box-shadow;
    }
}

section.three {
    background-color: $light;

    .slick {
        &-arrow {
            width: 60px;
            height: 100px;
            background-color: $light;
            z-index: 2;
            opacity: 0.5;
            @include transition($transition-base);

            &:hover {
                opacity: 1;
                @include transition($transition-base);
            }

            &::before {
                display: none;
            }
        }

        &-prev {
            left: 0;
            border-top-right-radius: .75rem;
            border-bottom-right-radius: .75rem;
        }

        &-next {
            right: 0;
            border-top-left-radius: .75rem;
            border-bottom-left-radius: .75rem;
        }

        // @include media-breakpoint-down(lg) {
        // }
    }

    .slider {
        &-item {
            position: relative;
            padding: 2rem .5rem 3rem;
            z-index: 0;
            @include transition($transition-base);

            &:focus {
                outline: none;
            }

            &.slick-center {
                transform: scale(1.1);
                z-index: 1;
                @include transition($transition-base);
            }
        }
    }

    .card {
        color: white;
        border-width: 0;
        border-radius: .75rem;
        box-shadow: $box-shadow;
        overflow: hidden;
        @include gradient-bg($primary);
    }
}

section.four {
    .card {
        color: $primary;
        height: calc(100% - 1rem);
        margin-bottom: 1rem;
        border-width: 0;
        border-radius: .75rem;
        box-shadow: $box-shadow-sm;
        overflow: hidden;
        @include transition($transition-base);

        &-body {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
        }

        &:hover {
            color: white;
            box-shadow: $box-shadow;
            @include gradient-bg($primary);
            @include transition($transition-base);
        }
    }
}

section.five {
    background: url('../img/bg-download@2x.png') no-repeat center center/cover;
    background-attachment: fixed;

    .card {
        height: calc(100% - 1.5rem);
        margin-bottom: 1.5rem;
        background-color: rgba(black, .25);
        backdrop-filter: blur(10px);
        border-width: 0;
        border-radius: .75rem;
        @include transition($transition-base);

        &:hover {
            text-decoration: none;
            transform: scale(1.1);
            @include transition($transition-base);
        }

        &-img {
            max-height: 222px;
            object-fit: contain;
        }

        &-title {
            color: white;
            margin-bottom: 0;
        }
    }
}