@import './fonts';
@import './variables';
@import './bootstrap/bootstrap.scss';
@import './header';
@import './footer';
@import './landing';

html,
body {
    line-height: 1;
    overflow-x: hidden;
}

body {
    background-color: transparent;
    background: url('../img/bg-download@2x.png') no-repeat center center/cover;
    background-attachment: fixed;

    @include media-breakpoint-up(xl) {
        font-size: 1.75rem;
    }
}